.badge {
    cursor: pointer;
    align-items: center;
    color: var(--color-black);
    gap: 0.3rem;
    display: flex;
    flex-direction: row;
    background-color: var(--color-white);
    border-radius: 25px;
    padding: 8px 12px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.277);
    position: relative;
}

.badge:hover .badge_popup {
    visibility: visible;
    opacity: 100%;
}

.badge_popup {
    visibility: hidden;
    opacity: 0%;
    transition: visibility 0.1s, opacity 0.3s linear;
    padding: 8px;
    width: 120%;
    border-radius: 1rem;
    background-color: var(--color-light-gray);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 100%);
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.277);
}

.badge_popup > ol, li {
    list-style: disc;
    margin-left: 20px;
}

.badge_popup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 10px;
    width: 10px;
    background-color: var(--color-light-gray);
}
