table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
}

table th, td {
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 8px;
    text-align: left;
}

th {
    width: 100px;
}

td {
    width: 300px;
}
