.infocard_table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
}

.infocard_table th, td {
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 8px;
    text-align: left;
}

.infocard_table th {
    width: 100px;
}

.infocard_table td {
    width: 300px;
}
