.main {
    display: grid;
    grid-template-columns: minmax(300px, 300px) auto;
}

.main__search {
    display: flex;
    background-color: #DFDFDF;
}

.result {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.result__header {
    display: flex;
    gap: 10px;
}

.result__result {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 32%);
    grid-template-rows: repeat(auto-fill, 150px);
    gap: 10px;
    overflow-y: scroll;
    max-height: calc(100vh - 50px);
}

.result__card {
    border: solid 1px black;
    height: 150px;
}
