.main {
    position: relative;
    display: flex;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.search {
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 8px;
    width: 500px;
    color: var(--color-black);
    background-color: var(--color-white);
    box-shadow: 0 4px 5px 1px rgba(27, 27, 27, 0.7);
}

.search-top {
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.277);
}

.isHidden {
    display: none;
}

.search__title {
    color: var(--color-white);
}

.search__title > span {
    color: var(--color-secondary);
}

.search__subtitle {
    margin: 0.5rem auto 2rem;
    color: var(--color-white);
}

.search__subtitle > span {
    color: var(--color-secondary);
}

.search__input {
    font-size: 15px;
    flex: 1;
    border: none;
    padding: 4px;
    outline: none;
    margin-left: 10px;
}

.search__separator {
    background-color: var(--color-gray);
    width: 1px;
    height: 80%;
}

.search__reset {
    color: var(--color-gray);
    padding: 7px 6px 4px 8px;
}

.search__button {
    color: var(--color-accent);
    background-color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 8px 4px 8px;
}

.search__settings {
    display: flex;
    width: 516px;
    height: 25px;
    align-items: center;
    gap: 10px;
}

.search__setting {
    color: var(--color-gray);
    border: solid 1px var(--color-gray);
    padding: 0 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    border-radius: 20px;
    min-width: 38px;
}

.search_setting-first {
    position: relative;
}

.search_setting-first::before {
    content: 'Pick which item to include';
    position: absolute;
}

.search__controls {
    justify-content: space-evenly;
    display: flex;
    width: 516px;
    padding: 8px 0;
}

.float_wrapper {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    z-index: 2;
    transition: all 0.2s;
}

.float_wrapper-centered {
    top: 28%;
}

.toast {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.toast__content {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.277);
    padding: 1rem;
}

.toast__button {
    color: var(--color-gray);
    margin-left: auto;
}
