.main {
    position: relative;
    display: flex;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.search {
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 8px;
    width: 500px;
    color: var(--color-black);
    background-color: var(--color-white);
    box-shadow: 0 4px 5px 1px rgba(27, 27, 27, 0.7);
}

.search__menu {
    font-size: 1.2rem;
    color: var(--color-gray);
    background-color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 8px 4px 10px;
}

.search-top {
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.277);
}

.isHidden {
    display: none;
}

.search__title {
    color: var(--color-white);
}

.search__title > span {
    color: var(--color-secondary);
}

.search__subtitle {
    margin: 0.5rem auto 2rem;
    color: var(--color-white);
}

.search__subtitle > span {
    color: var(--color-secondary);
}

.search__input {
    font-size: 15px;
    flex: 1;
    border: none;
    padding: 4px;
    outline: none;
    margin-left: 10px;
}

.search__separator {
    background-color: var(--color-gray);
    width: 1px;
    height: 80%;
}

.search__reset {
    color: var(--color-gray);
    padding: 7px 6px 4px 8px;
}

.search__button {
    color: var(--color-accent);
    background-color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 8px 4px 8px;
}

.search__settings {
    display: flex;
    width: 516px;
    height: 25px;
    align-items: center;
    gap: 10px;
}

.search__setting {
    color: var(--color-gray);
    border: solid 1px var(--color-gray);
    padding: 0 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    border-radius: 20px;
    min-width: 38px;
}

.search_setting-first {
    position: relative;
}

.search_setting-first::before {
    content: 'Pick which item to include';
    position: absolute;
}

.search__controls {
    justify-content: center;
    gap: 0.5rem;
    display: flex;
    width: 516px;
    padding: 8px 0;
}

.float_wrapper {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    z-index: 2;
    transition: all 0.2s;
}

.float_wrapper-centered {
    top: 28%;
}

.list {
    height: 200px;
    background-color: aliceblue;
}

.layer_control {
    color: var(--color-black);
    text-shadow:    
    1px 1px 0 #fff,
    -1px 1px 0 #FFF,
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF;
    bottom: 1.2rem;
    left: 1.2rem;
    position: fixed;
    display: flex;
    gap: 1rem;
}

.layer_control__current {
    position: relative;
    height: 80px;
    width: 80px;
    border: solid 2px var(--color-white);
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.277);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.2rem;
    cursor: pointer;
}

.layer_control__other {
    position: relative;
    height: 70px;
    width: 70px;
    border: solid 2px var(--color-white);
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.277);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.2rem;
    cursor: pointer;
}

.layer_control__current > span {
    display: flex;
    align-items: flex-end;
    gap: 0.15rem;
}

.layer_control__bg-default {
    background-image: url('/default.png');
    background-size: contain;
}

.layer_control__bg-count {
    background-image: url('/count.png');
    background-size: contain;
}
